eProsecutionGrpcServer/obj/
eProsecutionGrpcServer/bin/
eProsecutionGrpcServer/Migrations/
eProsecutionGrpcServer/Properties/*
eProsecutionGrpcServer/.config/*

/Publish/
.vs/*

eProsecutionGrpcClient/obj/
eProsecutionGrpcClient/bin/
eProsecutionGrpcClient/Properties/*
eProsecutionGrpcClient/.config/*
